---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
      - 'fix-*'
      - 'feature-*'
      - 'pre-commit-ci-update-config'

jobs:
  run-script:
    name: Run script
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
#        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        os: ['windows-latest']
        version: ['0.3.0', '0.4.0']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install wren
        uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Run script (Linux, MacOS)
        if: ${{ matrix.os != 'windows-latest' }}
        run: wren_cli ./hello-world.wren
        shell: bash
      - name: Run script (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: wren_cli.exe ./hello-world.wren
        shell: pwsh
  run-script-alpine:
    name: Run script (alpine-latest)
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        version: ['0.3.0', '0.4.0']
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
    steps:
      - uses: actions/checkout@v3
      - name: Install tools
        run: apk add bash
        shell: sh
      - name: Install wren
        uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Run script
        run: |
          echo $PATH
          wren_cli ./hello-world.wren
        shell: bash
